.app {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.add-button {
    margin: 10px 0 10px 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.taskList {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 20px 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
}

.task:last-child {
    margin-bottom: 0;
}

.task.undone {
    border: 1px solid red;
    box-shadow: 0 0 3px red;
}

.task.undone .x-botton {
    background-color: red;
}

.task.done {
    border: 1px solid green;
    box-shadow: 0 0 3px green;
}

.task.done .x-botton {
    background-color: green;
}

.text-box {
    display: flex;
    align-items: flex-start;
}

.id {
    margin-right: 10px;
    font-weight: bold;
}

.text {
    display: inline-block;
    width: 200px;
    white-space: pre-wrap;
}

.x-botton {
    margin-left: 10px;
    padding: 3px 8px;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
    outline: none;
}

input {
    width: 300px;
}
